html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
p{
    margin-bottom: 0;
}
body {
    line-height: 1;
    font-family: Nunito-Regular , sans-serif !important;
    direction: rtl;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0 !important;
}
blockquote, q {
    quotes: none;
}
button{
    border: none;
    outline: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: Nunito-Bold;
    font-style: normal;
    font-weight: bold;
    src: url('../assets-list/font/Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Nunito-Medium;
    font-style: normal;
    font-weight: 600;
    src: url('../assets-list/font/Nunito/Nunito-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Nunito-Light;
    font-style: normal;
    font-weight: 300;
    src: url('../assets-list/font/Nunito/Nunito-Light.ttf') format('truetype');
}

@font-face {
    font-family: Nunito-Regular;
    font-weight: normal;
    src: url('../assets-list/font/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Nunito-SemiBold;
    font-weight: normal;
    src: url('../assets-list/font/Nunito/Nunito-SemiBold.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --blue: #7286D3;
    scroll-behavior: smooth;
    direction: ltr;
}
::selection{
    color: white;
    background-color: #85cfd0;
}
::-webkit-scrollbar{
    width: 5px;
    background-color:white;
}
::-webkit-scrollbar-thumb{
    background-color: cornflowerblue;
    width: 5px;
    border-radius: 15px;
}
.row{
    padding: 0 !important;
    margin: 0 !important;
}
.Section{
    margin-top: 140px;
    padding: 50px 0;
}
.Title {
    color: var(--blue);
    font-family: Nunito-Bold !important;
    margin-bottom: 30px;
    line-height: 2;
}
.Blue{
    color: #3695ca;
}
.phoneNumber img{
    width: 22px;
    right: 0;
    position: absolute;
}
.UpAngel{
    transform: rotate(90deg);
}
.SliderImage-one::after {
    background: linear-gradient(to left, transparent 0%, #def5f5 90%);
}

.SliderImage-two::after {
    background: linear-gradient(to left, transparent 0%, #dcecef 100%);
}
.accordion{
    text-align: left;
}
.accordion:after {
    right: 20px;
}
.active:after {
    right: 20px;
}