.carousel-item {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: relative;
}

.SliderText {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.SliderText {
    background-color: #dcecef;
}

.SliderImage img, .SliderImage img {
    height: 100vh;
    width: 100% !important;
}

.SliderImage, .SliderImage {
    width: 50%;
    position: relative;
}
.Slider_Context{
    position: absolute;
    margin: -50px 100px 100px;
    z-index: 900;
}
.Slider_Context h1{
    font-family: IRANSansWeb_Bold , Nunito-Bold !important;
    color: #212121;
    text-shadow: 2px 2px 2px #a5a5a5;
}
.Slider_Context div{
    width: 600px ;
    margin-top: 35px;
    padding: 0 15px 0 30px;
    border-right: 6px solid #041c60;
    overflow: hidden;
    border-radius: 0 34px 34px 0;
    animation: grow 2s ease-in-out;
    position: absolute;
    min-height: 110px;
    display: flex;
    align-items: center;
}
.Slider_Context div p{
    position: absolute;
    width: 600px;
    line-height: 2;
    margin-bottom: 0;
}
@keyframes grow {
    0%{
        max-width: 0;
    }
    100%{
        max-width: 600px;
    }
}
.SliderImage::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    display: inline-block;
    right: 0;
}

.Services {
    background-color: white;
    display: flex;
    align-items: center;
    min-height: 500px;
}

.Services-items {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px,
    rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px,
    rgba(0, 0, 0, 0.07) 0 32px 16px;
    position: relative;
    margin: 20px 0;
    height: 320px;
}

.Services-items img {
    width: 100%;
    height: 320px;
}

.overlay {
    height: 70px;
    width: 100%;
    transition: all ease 0.5s;
    background-color: white;
    bottom: 0;
    position: absolute;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: glow infinite 1.5s ease;
    box-shadow: 0 0 0 0 rgba(265 ,265 ,265, 1);

}
@keyframes glow {
    0%{
        box-shadow: 0 0 0 0 rgba(265 ,265 ,265, 0.7);
    }
    70%{
        box-shadow: 0 0 3px 25px rgba(265 ,265 ,265, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(265 ,265 ,265, 0);
    }
}
.overlay h3 {
    text-align: center;
}

.BlueButton {
    border-radius: 7px;
    background-color: #6495ed;
    opacity: 0;
    height: 50px;
    padding: 0 20px;
    bottom: -40px;
    transition: all ease 0.8s;
    position: absolute;
    transform: scale(1);
    color: white;
}
.Connection{
    bottom: -40px;
    position: absolute;
    opacity: 0;
    transition: all ease 0.8s;
}
.Connection input{
    border: none;
    outline: none;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    transition: all ease 0.5s;
}
.Connection input:focus{
    box-shadow: 0 0 10px #9ed7f6;
}
.Connection button{
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    transition: all ease 0.5s;
    padding: 15px;
}
.BlueButton a , .BlueButton a:hover{
    color: white;
    text-decoration: none;
}

.BlueButton:active , .TransParent button:active , .Connection button:active{
    transform: scale(0.9);
}

.Services-items:hover .overlay {
    height: 320px;
    border-radius: 0;
    background-color: rgba(265, 265, 265, 0.7);
    animation: none;
}

.Services-items:hover .BlueButton , .Services-items:hover .Connection{
    bottom: 60px;
    opacity: 1;
}

.TransParent{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: transparent;
}

.TransParent a{
    padding:15px 20px;
    text-align: center;
    border-radius: 7px;
    background-color: transparent;
    border: 2px solid white;
    transform: scale(1.04);
    margin-top: 30px;
    transition: all ease 0.5s;
    text-decoration: none;
    color: white;
}

.TransParent a:hover{
    background-color: white;
    color: #6096B4;
}

@media screen and (max-width: 900px) {
    .carousel-item {
        height: fit-content !important;
        margin-top: 100px;
    }

    .SliderText{
        height: fit-content !important;
        width: 0;
    }

    .SliderImage{
        width: 100%;
        height: fit-content !important;
    }
    .SliderImage img {
        width: auto;
        height: auto;
    }
    .Slider_Context {
        margin: 0;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        margin-top: -100px;
    }
    .Slider_Context div{
        width: 500px;
        animation: grow_res_md 2s ease-in-out;
        padding: 10px;
    }
    .Slider_Context div p{
        width: 455px;
    }
    @keyframes grow_res_md {
        0%{
            width: 0;
        }
        100%{
            width: 500px;
        }
    }
    .TransParent{
        height: 355px;
    }
}
@media screen and (max-width: 600px) {
    .Slider_Context {
        width: 350px;
    }
    .Slider_Context div{
        width: 350px;
        animation: grow_res_sm 2s ease-in-out;
        padding: 10px;
        height: 150px;
    }
    .Slider_Context div p{
        width: 305px;
    }
    @keyframes grow_res_sm {
        0%{
            width: 0;
        }
        100%{
            width: 350px;
        }
    }
}
