.Section{
    background-color: #fbfbfb;
}
.Person_info{
    text-align: center;
}
.Person_info h4{
    margin: 20px 0;
}
.Person_info h5{
    color: #8db4f8;
    margin-top: 20px;
}
.Person_info h6{
    color: #7286D3;
}
.Person_info p{
    font-family: IRANSansWeb_Light , Nunito-Light !important;
    font-size: 14px;
    color: #888;
}